{% extends 'index.html' %}
{% from 'macros/_errors.html' import error %}
{% from 'macros/_remove_milliseconds.html' import remove_milliseconds %}

{% block title %}{{ building.name }}
{% endblock %}

{% block content %}

    <a href="/colony/{{current_colony.id}}/status"><button type="button">Powrót do kolonii</button></a>
    <br>

    <h1>Budynek {{ building.name }}</h1>

    {% if special_content == 'forge' %}
        <table style="width:60%">
            <th>Wytwórz</th>
            {% for tool_name, permission in building.special_data.items() %}
            {% set tool = special_data[tool_name][2] %}
                <tr>
                    <td>{{ tool.name }}</td>
                    <td>Wymagane materiały:
                        <ul>
                            {% for material, amount in tool.required_materials.items() %}
                                <li>{{ material }}: {{ amount }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>Czas budowy: {{ remove_milliseconds(tool.time_build) }}</td>
                    <td>
                        Długość działania:
                        {% if tool.benefits %}
                            {{ remove_milliseconds(tool.time_active) }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        Bonus produkcji:
                        <ul>
                            {% for material, percent in tool.benefits.items() %}
                                <li>{{ material }} +{{ percent }}%</li>
                            {% else %}
                                Brak
                            {% endfor %}
                        </ul>
                    </td>

                    <td><form action="" method="post">
                        <input type="hidden" name="tool" value="{{tool_name}}">
                        {% if permission %}
                            <button>Wytwórz</button>
                        {% else %}
                            <button disabled>Zablokowane</button>
                        {% endif %}
                    </form></td>
                </tr>
            {% endfor %}
        </table><br>
    {% elif special_content == 'barracks' %}
        <table style="width:25%">
            <th>Wyszkol</th>
            {% for soldier, permission in building.special_data.items() %}
                <tr>
                    <td>{{ soldier|capitalize }}</td>

                    {% if permission %}
                        <td>
                            <form action="" method="post">
                                <input type="hidden" value="{{soldier}}" name="unit">
                                <input type="number" value="0" min="0" max="{{special_data[soldier][2]}}" name="amount">
                                <button>Wyszkol</button>
                            </form>
                        </td>
                    {% else %}
                        <td>Brak możliwości</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table><br>
    {% elif special_content == 'warehouse' %}
        <table style="width:25%">
            <th>Limit magazynu</th>
            <tr>
                <td style="border: 1px solid;"><dl style="margin: 0;">
                    {% for resource, amount in building.special_data.items() %}
                        <dt>{{ resource }}: {{ amount }}</dt>
                    {% endfor %}
                </dl></td>
                <td style="border: 1px solid;"><dl style="margin: 0;">
                    {% for resource, amount in building_next.special_data.items() %}
                        <dt>{{ resource }}: {{ amount }}</dt>
                    {% endfor %}
                </dl></td>
            </tr>
        </table><br>

        <table style="width:35%">
            <th>Użyj narzędzia</th>
            <tr>
                {% for tool_name, info in special_data.items() %}
                {% set amount = info[0] %}
                {% set limit = info[1] %}
                {% set tool = info[2] %}
                    <td>
                        {{ tool.name }} - {{ amount }}/{{ limit }}
                        <form action="" method="post">
                            <input type="hidden" name="tool" value="{{tool_name}}">

                            {% if current_colony.active_tool or not amount %}
                                <button disabled>Zablokowane</button>
                            {% else %}
                                <button>Użyj</button>
                            {% endif %}
                        </form>
                    </td>
                {% endfor %}
            </tr>
        </table><br>
    {% endif %}

    <table style="width:25%">
        <th>Poziom</th>
        <tr>
            <td style="border: 1px solid;">{{ building.level }}</td>
            <td style="border: 1px solid;">{{ building_next.level }}</td>
        </tr>

        <th>Produkcja</th>
        <tr>
            <td style="border: 1px solid;"><dl style="margin: 0;">
                {% for resource, amount in building.production.items() %}
                    <dt>{{ resource }}: {{ amount }}</dt>
                {% endfor %}
            </dl></td>
            <td style="border: 1px solid;"><dl style="margin: 0;">
                {% for resource, amount in building_next.production.items() %}
                    <dt>{{ resource }}: {{ amount }}</dt>
                {% endfor %}
            </dl></td>
        </tr>

        <th>Wymagane materiały</th>
        <tr>
            <td style="border: 1px solid;"><dl style="margin: 0;">
                {% for resource, amount in building.required_materials.items() %}
                    <dt>{{ resource }}: {{ amount }}</dt>
                {% endfor %}
            </dl></td>
            <td style="border: 1px solid;"><dl style="margin: 0;">
                {% for resource, amount in building_next.required_materials.items() %}
                    <dt>{{ resource }}: {{ amount }}</dt>
                {% endfor %}
            </dl></td>
        </tr>
        
        <th>Wymagane budyki</th>
        <tr>
            <td style="border: 1px solid;"><dl style="margin: 0;">
                {% for construction, level in building.required_buildings.items() %}
                    <dt>{{ construction }}: {{ level }}</dt>
                {% endfor %}
            </dl></td>
            <td style="border: 1px solid;"><dl style="margin: 0;">
                {% for construction, level in building_next.required_buildings.items() %}
                    <dt>{{ construction }}: {{ level }}</dt>
                {% endfor %}
            </dl></td>
        </tr> 
    </table> 

    <br><div>
        {% if building_errors %}
            <button disabled>Nie spełniono wymagań</button>

            <ul>
                {% for key, arg in building_errors %}
                    <li style="padding: 4px;">{{ error(key, arg) }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <form method="POST" action="/colony/{{current_colony.id}}/constructions">
                <input type="hidden" name="construction" value="{{ building.name|lower }}">
                
                {% if building.level <= 1 %}
                    <button>Rozpocznij budowę</button>
                {% else %}
                    <button>Rozbuduj</button>
                {% endif %}
            </form>  
        {% endif %}
    </div>


{% endblock %}