{% extends 'index.html' %}

{% block title %}{{ current_colony.name }}
{% endblock %}

{% block content %}

    <h1>Kolonia {{ current_colony.name }}</h1>
    <p>ID: {{ current_colony.id }}</p>
    <p>
        Właściciel: {{ current_user.username }}
        <a href="/user/{{current_user.id}}/profile">
            <button>Przejdź do profilu</button>
        </a>
    </p>
    <p>
        Budynki:
        <ol style="overflow: auto; border: 1px solid; width: 256px; height: 512px">
            {% for raw_name, building in buildings.items() %}
                <li style="border: 1px solid; padding: 8px; margin: 8px">
                    <h2 style="margin: 0px">{{ building.name }}</h2>
                    <p>Poziom: {{ building.level }}</p>

                    {% if building.production %}
                        <p>
                            Produkcja:
                            <ul>
                                {% for product, amount in building.production.items() %}
                                    <li>{{ product }}: {{ amount }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    {% if building.required_materials %}
                        <p>
                            Wymagane materiały:
                            <ul>
                                {% for product, amount in building.required_materials.items() %}
                                    <li>{{ product }}: {{ amount }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                    
                    {% if building.required_buildings %}
                        <p>
                            Wymagane Budynki:
                            <ul>
                                {% for construction, level in building.required_buildings.items() %}
                                    <li>{{ construction }} ({{ level }} poziom)</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}

                    <p>
                        {% set time = building.time_build|string %}
                        {% if time.rfind('.') > -1 %}
                            {% set time = time[:time.rfind('.')] %}
                        {% endif %}
                        Czas budowy: {{ time }}
                        Zakończenie budowy: {{ building.end_build }}
                    </p>
                    
                </li>
            {% else %}
                <p>Brak</p>
            {% endfor %}
        </ol>
    </p>

{% endblock %}