{% extends 'index.html' %}
{% from 'macros/_buildings_cards.html' import building_card_simple %}
{% from 'macros/_remove_milliseconds.html' import remove_milliseconds %}

{% block title %}{{ current_colony.name }}
{% endblock %}

{% block content %}

    <h1>Kolonia {{ current_colony.name }}</h1>
    <p>ID: {{ current_colony.id }}</p>
    <p>
        Właściciel: {{ current_colony.owner.username }}
        <a href="/user/{{current_colony.owner.id}}/profile">
            <button>Przejdź do profilu</button>
        </a>
    </p>

    <div>
        <p>Kolejka budowy:</p>

        <ol>
            {% for building in current_colony.construction_list %}
                <li>
                    {{ building.name }} ({{ building.level }} lvl):<br>
                    {{ remove_milliseconds(building.start_build) }} -
                    {{ remove_milliseconds(building.end_build) }}
                    <form method="POST">
                        <input type="hidden" name="abort" value="{{ building.name|lower }}">
                        <button>Przerwij</button>
                    </form>
                </li>
            {% else %}
                <p>Brak</p>
            {% endfor %}
        </ol>
    </div>

    <div>
        <p>Produkowane narzędzie:</p>
        <dd>
            {% if current_colony.craft %}
                {{ current_colony.craft.name }}
                <br>
                {{ remove_milliseconds(current_colony.craft.start_build) }} -
                {{ remove_milliseconds(current_colony.craft.end_build) }}
            {% else %}
                Brak
            {% endif %}
        </dd>
    </div>

    <div>
        <p>Szkolenie</p>
        <dd>
            {% if current_colony.training %}
                {{ current_colony.training[0].name }} x{{ current_colony.training|length }}
                <br>
                {{ remove_milliseconds(current_colony.training[0].start_training) }} -
                {{ remove_milliseconds(current_colony.training[-1].end_training) }}
            {% else %}
                Brak
            {% endif %}
        </dd>
    </div>
    

    <div>
        <p>
            Budynki:
            <a href="/colony/{{current_colony.id}}/constructions"><button type="button">Panel budowniczego</button></a>
        </p>

        <div style="overflow-y: scroll; border: 1px solid; height: 512px; width: 1024px; display: flex; flex-flow: wrap row;">
            {% for raw_name, building in buildings.items() %}
                {{ building_card_simple(building) }}
                <a href="/colony/{{current_colony.id}}/{{building.name|lower}}">
                    <button type="button">Przejdź do budybku</button>
                </a>
            {% else %}
                <h3>Brak</h3>
            {% endfor %}
        </div>
    </div>

    <div>
        <p>
            Aktywne narzędzie:
            {% if current_colony.active_tool %}
                {{ current_colony.active_tool.name }}<br>
                <dd>
                    {{ remove_milliseconds(current_colony.active_tool.start_active) }} -
                    {{ remove_milliseconds(current_colony.active_tool.end_active) }}
                </dd>    
            {% else %}
                Brak
            {% endif %}
        </p>
    </div>

    <div>
        <p>Materiały:</p>
        <ul>
            {% for raw_name, resource in resources.items() %}
                <li>
                    {{ raw_name }}:
                    {{ resource[0]|int }}/{{ resource[2]|int }} |
                    {{ resource[1]|round }}/h

                    {% if current_colony.active_tool and raw_name in current_colony.active_tool.benefits %}
                        (+{{ current_colony.active_tool.benefits[raw_name] }}%)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <p>Narzędzia i broń:</p>
        <ul>
            {% for raw_name, tool in tools.items() %}
                <li>
                    {{ raw_name }}:
                    {{ tool[0] }}/{{ tool[1] }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <p>Armia:</p>
        <ul>
            {% for raw_name, soldiers in army.items() %}
                <li>
                    {{ raw_name }}:
                    {{ soldiers[0] }}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}